.album-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.left-side {
  flex: 0.5; 
  margin-right: 100px;
}

.right-side {
  flex: 1.5; 
  margin-left: 20px;
  margin-right: 20px;
}

.reviews-container {
  max-height: 600px; 
  overflow-y: auto;
}

  
  
    