.album-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

#headerline {
  display: flex;
  text-align: center;
  text-decoration: double;
}

h3{
  text-align: center;
}