.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: lightcyan; 
  outline: 10 lvb;
  outline-style: groove;

}

.album-card {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
}

.artist-name {
  font-family: Calibri, sans-serif;
  margin-top: 10px;
}

.album-name {
  font-family: Arial, sans-serif;
  margin-top: 5px;
}

