.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.album-card img {
  width: 100%;
  max-width: 200px;
}

.artist-name {
  font-family: Calibri, sans-serif;
  margin-top: 10px;
}

.album-name {
  font-family: Arial, sans-serif;
  margin-top: 5px;
}

