/* #homepage{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
#albumCardHomepage{
  width: fit-content;
  flex-basis: 15%;
  
}
.artistName{
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.albumName{
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */


/* .album-card {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }

  .album-name {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }

  .artist-name {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  } */
